<!DOCTYPE html>
<html lang="en" dir="ltr">
{% extends "base.html"%}
{% load  staticfiles %}

  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="{%static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="{%static 'css/mdb.min.css'%}" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="{%static 'css/style.min.css' %}" rel="stylesheet">


  </head>
  <body>
        {% block content %}

        <div style = "margin:auto" class = "card">
        <h1 class="card-title pt-5  mt-5 mx-5 text-center">   Payment Info </h1>
        

          <hr class="">
          <div class = "d-flex mx-auto justify-content-center">
              
                <li class=" text-center">
                    <i class="fas fa-check-circle fa-5x" style="color:rgb(17, 245, 9)" ></i>  Payment Already done
              
                   
                </li>
                      

          </div>
          <div class= "text-center">
              <P class = "pt-3 px-3"> Thank you for working with Divine Ventures, {{request.user}}. We wish to inform you that you had already paid your 
                  one time subscription fee, and there is no need for any further payment. 
              </P>
              <p>
                regards, 
              </p>
              <p>
                DivineVentures!  
              </P>

                  <hr class="mb-4"> 
                
              
          </div>
           
           <hr class="mb-4">

      </div>
        {% endblock%}
        {% block scripts%}
        {% endblock %}

  </body>
</html>
